.trending-cards {
    padding: 70px 0 150px 0;
    background: transparent linear-gradient(180deg, #C4D8FF 0%, #FFFDFF 100%) 0% 0% no-repeat padding-box;
    .title {
        margin-bottom: 80px;
    }
    .cards-wrapper {
        gap: 45px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .figure-container {
        width: 100%;
    }

    .figure {
        position: relative;
        padding-top: 56%;
    }

    .card {
        box-shadow: 0px 3px 6px #0047CE33;
        width: 30%;
        max-width: 345px;
    }

    .card-bottom {
        padding: 16px 20px 20px 20px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}