.header {
    padding: 14px 0;
    box-shadow: 0px 6px 12px #0052E01A;
    position: relative;
    z-index: 10;
    .header-container {
        justify-content: space-between;
    }
    .nav-ul {
        gap: 30px;
        &.mobile {
            flex-direction: column;
            position: absolute;
            gap: 20px;
            background-color: var(--white);
            padding: 15px 30px;
            top: 70px;
            right: 0;
            box-shadow: 0px 6px 12px #0052E01A;
            border-radius: 15px;
        }
    }
    .nav-link {
        &:hover {
            color: var(--blue)
        }
    }
    .with-dropDown {
        gap: 14px;
        position: relative;
        &:hover {
            .drop-wrapper {
                display: block;
            }
            .arrow {
                transform: rotate(180deg);
            }
        }
    }

    .arrow {
        transition: all 300ms;
    }

    .drop-wrapper {
        display: none;
        position: absolute;
        left: 0;
        top: 15px;
    }

    .drop-items {
        flex-direction: column;
        position: initial;
        padding: 20px 30px;
        gap: 20px;
        box-shadow: 0px 6px 12px #0052E01A;
        border-radius: 15px;
        z-index: 1;
        .drop-link {
            &:hover {
                color: var(--blue);
            }
        }
    }

    .lang {
        gap: 4px;
        .arrow {
            transform: rotate(180deg);
        }
    }

    .burger {
        background: none;
        display: none;
        &.mobile {
            .lines-wrapper {
                gap: 0;
            }
            .line-1 {
                transform: rotate(45deg);
            }
            .line-2 {
                transform: rotate(-45deg);
            }
        }
    }

    .lines-wrapper {
        flex-direction: column;
        gap: 5px;
    }
    .line {
        width: 22px;
        height: 2px;
        transition: all 300ms;
    }


    @media only screen and (max-width: 786px ) {
        .nav-ul {
            display: none;
            &.mobile {
                display: flex;
            }
        }

        .burger {
            display: block;
        }
    }
}