.fz14 {
    font-size: 14px;
}

.fz18 {
    font-size: 18px;
}

.fz11 {
    font-size: 11px;
}

.fz32 {
    font-size: 32px;
}

.fz36 {
    font-size: 36px;
}

.fz46 {
    font-size: 46px;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw800 {
    font-weight: 800;
}

.c-white {
    color: var(--white);
}

.c-black {
    color: var(--black);
}

.c-gray {
    color: var(--gray);
}

.c-gray25 {
    color: var(--gray25);
}

.c-gray50 {
    color: var(--gray50);
}

.c-gray100 {
    color: var(--gray100);
}

.c-blue {
    color: var(--blue);
}

.c-blueLight {
    color: var(--blueLight);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-blueLight {
    background-color: var(--blueLight);
}